.ticket {
  background-color: var(--ticket-bg);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  max-width: 110px;
  max-height: 36px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-right: 0.3em;
  color: var(--primary-color);
  word-break: break-all;
}

.row {
  display: flex;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.col {
  width: 100%;
  letter-spacing: 0.5px;
  padding: 0 0.2em;
}

.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-secondary);
  text-transform: uppercase;
}

.text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-primary);
}
