@import "../../scss/mixins";

.price-filter {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  width: 100%;
}

.item {
  margin-left: -1px;
  width: 100%;

  &-btn {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: var(--text-primary);
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
      background-color: var(--btn-hover-color);
      border-color: var(--btn-hover-color);
    }

    @include screen-mxw-576 {
      word-break: break-all;
    }
  }

  &-active &-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--btn-text-color);
    pointer-events: none;
  }

  &:first-child &-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child &-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
