:root {
  --text-primary: #4a4a4a;
  --text-secondary: #a0b0b9;
  --primary-color: #2196f3;
  --error-color: #f32f21;
  --border-color: #dfe5ec;
  --checkbox-border-color: #dfe5ec;
  --transfer-bg: #fff;
  --transfer-hover-bg: #f1fcff;
  --ticket-bg: #fff;
  --bg-color: #f3f7fa;
  --white: #fff;
  --black: #000;
  --btn-text-color: #fff;
  --btn-hover-color: #dfe5ec;
  --btn-primary-color: #2196f3;
  --btn-primary-hover-color: #1986df;
}
